{{- define "main" }}
<main class="segment">
	<img id="panel-1" class="panel" src="{{ "assets/img/ricardo-in-circleci-rainbow-shirt-b&w.jpg" | relURL }}" alt="Ricardo Feliciano in a CircleCI rainbow t-shirt." />
	<div id="panel-2" class="panel">
		<p class="motto">Inspire<br />Educate<br />Motivate</p>
		<hr />
	</div>
	<div id="panel-3" class="panel">
		<img class="logo" src="{{ "assets/img/ftech-logo.svg" | relURL }}" />
		<p>Hey, my name is Ricardo N Feliciano. Welcome to my main home on the Internet.</p>
	</div>
	<div id="panel-4" class="panel">
		<h2>Recent Blog Posts</h2>
		<ul>
	{{ range first 5 (where .Pages.ByDate.Reverse ".Section" "blog") }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
		</ul>
	</div>
	<div id="panel-5" class="panel">
		<h2>Join My Newsletter</h2>
		<p>Keep up-to-date on my recent posts, new projects, and be the first to hear about my latest endeavours.</p>
		<a class="button" href="{{ "newsletter/" | relURL }}">Join</a>
	</div>
</main>
{{ end }}
