pre{
	border-radius: 5px;
	/*background-color: #DEDEDE;*/
	padding: 10px;
	overflow: auto;
}

	code,
	pre code{
		/*background-color: #DEDEDE;*/
		padding: 4px 5px;
		/*color: #1C1C1C;*/
		font-family: monospace;
		white-space: pre;
	}

ul.menu{

	margin: 0;
	padding: 0;

	&.h li{
		float: left;
	}
}

blockquote{
	position: relative;
	line-height: 1.0;
	font-size: larger;
	font-style: italic;
	font-weight: bold;

	::before,
	::after{
		color: $logo-blue;
		font-size: 4.0rem;
	}

	::before{
		position: absolute;
		top: -10px;
		left: -30px;
		content: "“";
	}

	::after{
		position: relative;
		bottom: -26px;
		right: -2px;
		content: "”";
	}

	p{
	}
}

figcaption{
	color: #999999;
	text-align: center;
	font-style: italic;
}

form{
	margin: 0 auto;
	width: 60%;

	label{
		display: block;
		margin-bottom: 10px;
	}

	input,
	textarea{
		display: block;
		margin-bottom: 10px;
		border: hidden;
		border-radius: 2px;
		width: 100%;
	}

	input{
		padding-left: 5px;
		height: 30px;
	}

	input[type="submit"]{
		margin-right: auto;
		margin-left: auto;
		background-color: $logo-blue;
		width: 50%;
		height: 40px;
	}

	textarea{
		height: 100px;
	}

}


div.pager{
	margin-top: 30px;
	border-top: 1px solid #333333;
	height: 60px;

	a.older{
		float: right;
	}
}


div.share-buttons{
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -96px;
	text-align: center;

	div,
	a{
		display: block;
		width: 48px;
		height: 48px;
		line-height: 48px;
	}

	div{
		background-color: white;
		color: black;
		font-size: 1.4rem;

		&.share-down{
			padding-top: 10px;
			line-height: 15px;
		}

		&.share-right{
			display: none;
		}
	}

	a{
		font-size: 2.0rem;
		transition: width 1s;

		&:hover{
			width: 64px;
			transition: width 500ms;
		}

		&.twitter{
			background-color: #1DA1F2;
		}

		&.hacker-news{
			background-color: #FF6600;
		}

		&.reddit{
			background-color: #FF4500;
		}

		&.facebook{
			background-color: #3B5998;
		}

		&.linkedin{
			background-color: #0077B5;
		}
	}
}

table{
	width: 100%;

	thead{
		border-bottom: 2px solid white;
	}

	tr:nth-child(odd){
		background-color: #010101;
	}

	tr:nth-child(even){
		background-color: #121212;
	}

	td{
		padding: 5px 15px;
	}
}
