body{
	background-color: #1C1C1C;
}

body > header nav{
	display: flex;
	justify-content: space-between;
	border-bottom: $logo-blue solid 5px;
	background: url( "/assets/img/logo-monochrome-white.svg" ) center / auto 60% no-repeat;
	padding: 0 20px;
	height: 85px;
	line-height: 85px;

	ul.social li{
		padding: 0 4px;

		&.site-title{
			padding-right: 15px;
		}
	}

	ul.main li{
		padding: 0 7px;

		&.social-links{
			display: none;
		}
	}

	a.toggle{
		display: none;
	}
}

body > nav.sub{
	padding: 0 25px;
	height: 50px;
	line-height: 50px;
	color: #FFFFFF;

	ul{
		float: right;

		li{
			padding: 0 6px;
		}
	}
}

main.list,
main.single{
	margin: 0 14%;

	img{
		max-width: 100%;
	}

	article .content{
		margin: 15px 8% 0;
	}
}

body > footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 50px;
	background: url( "/assets/img/statue-of-liberty.svg" ) 50% 110%/auto 80% no-repeat;
	padding: 0 4% 15px;
	height: 200px;
	text-align: center;

	img.logo{
		height: 100px;
		vertical-align: middle;
	}

	div.spacer{
		width: 35px;
		height: 100%;
	}
}


//-------------------------------------
// Sections
//-------------------------------------
body.section-blog{
	@import "section-blog";
}

body.section-projects{
	@import "section-projects";
}
