/* ----------------------------------------------------------------------------
 *  Table of Contents
 * ----------------------------------------------------------------------------
 * # Structure
 * # Typography
 * # Content
 * # Elements
 * # Generic Classes
 * --------------------------------------------------------------------------*/

/* Font colors belong in the typography section meanwhile background colors will be in structure or elements, depending on what they're for.*/

/************************************************
 * Structure
 * *********************************************/
html,
body{
	min-height: 100%;
}

html{
	box-sizing: border-box;
}
	*,
	*:before,
	*:after{
		box-sizing: inherit;
	}

body{
	padding-bottom: 100px;
}

body > header{
	background: #1C1C1C url("/assets/img/statue-of-liberty.svg") 50% 110%/auto 80% no-repeat;
	padding: 0 20px;
	height: 85px;
	line-height: 85px;
}
	body > header .site-title{
		float: left;
		margin: 0 20px 0 0;
	}

	body > header div.social-icons{
		float: left;
	}
		body > header .social-icons i{
			margin: 0 2px;
			padding: 0 1px;
		}

	body > header nav{
		float: right;
	}
		body > header a.toggle,
		body > header li.social-icons{
			display: none;
		}

		body > header ul{
			margin: 0;
			padding-left: 0;
			list-style: none;
		}
			body > header li{
				float: left;
				padding: 0 7px;
			}

main{
	margin: 0 14%;
	padding-top: 45px;
}
	main .content{
		overflow: auto;
	}

body > footer{
	position: fixed;
	right: 0; bottom: 0; left: 0;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 8px 10%;
	text-align: center;
	font-weight: bold;
}
	body > footer p{
		margin: 0;
	}

	body > footer .starbucks-cup{
		height: 3.3rem;
		vertical-align: -10px;
	}



/************************************************
 * Typography
 * *********************************************/
html{
	font-size: 62.5%;
}

body{
	font-family: "Noto Sans", sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

body > header{
	color: #FFFFFF;
	font-size: 1.6rem;
}

	body > header .site-title{
		font-size: 2.1rem;
	}

	body > header .social-icons{
		font-size: 1.75rem;
	}
	body > header li a.active{
		font-weight: bold;
	}

body > header a,
body > footer a{
	color: inherit;
	text-decoration: none;
	transition: color 2s;
}
	body > header a:hover,
	body > footer a:hover{
		color: #FF0000;
		text-decoration: underline;
	}

main a{
	color: #000000;
	text-decoration: none;
}
	main a:hover{
		text-decoration: underline;
	}

	

/************************************************
 * Content
 * *********************************************/
/* All Content Types */
main .content a{
	color: #0000FF;
	text-decoration: underline;
}

main blockquote{
	border-left: 3px solid #000000;
	padding-left: 20px;
	font-size: larger;
	font-style: italic;
}

main form{
}
	main form label{
		display: inline-block;
		width: 15%;
		min-width: 60px;
	}

	main form input[type=email],
	main form input[type=text]{
		margin-bottom: 10px;
	}

main h1,
main h1 a{
	color: #333333;
}

main hr{
	border: 0;
	background-color: #CCC;
	height: 1px;
}

main img{
	max-width: 100%;
}
	main figcaption{
		color: #777777;
		text-align: center;
		font-style: italic;
	}

main pre{
	margin-bottom: 1.6em;
	background: #EEE;
	padding: 1.6em;
	max-width: 100%;
	line-height: 1.6;
	overflow: auto;
	font-family: Courier, monospace;
	font-size: 1.5rem;
}

/* Section - Blog */
main article{
	margin-top: 30px;
	border-top: 1px dotted #DDDDDD;
	padding-top: 20px;
}
	main article:first-child{
		margin-top: 0;
		border-top: none;
	}

	main article header{
		text-align: center;
	}
		main article h1{
			margin: 0;
			font-size: 4.0rem;
		}

	main article .feature{
		margin-top: 20px;
		text-align: center;
	}
		main article .feature img{
			max-width: 100%;
		}

	main article .content{
		margin: 15px 8% 0;
	}

	main article .more-link{
		color: #000000;
		font-weight: bold;
	}

	main article footer{
		overflow: auto;
	}
		main article footer a{
			font-weight: bold;
		}
			main article footer a.comment{
				float: right;
			}

#disqus_thread {
	margin: 3em 14% 2em;
}


/* Section - Projects */
body.section-projects .project{
	display: flex;
	align-items: flex-start;
	position: relative;
	margin-top: 20px;
	border: solid 1px #000000;
	background-color: #1C1C1C;
}
	body.section-projects .project:1st-child{
		margin-top: 0;
	}

	body.section-projects .project:nth-child(odd){
		flex-direction: row-reverse;
	}

	body.section-projects .project img{
		width: 50%;
	}

	body.section-projects .project .content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		top: 0; bottom: 0;
		padding: 10px 20px;
		width: 50%;
		color: #FFFFFF;
	}
		body.section-projects .project:nth-child(even) .content{
			right: 0;
		}

		body.section-projects .project:nth-child(odd) .content{
			left: 0;
		}

		body.section-projects .project h2{
			margin: 0;
		}

		body.section-projects .project a{
			color: #FFFFFF;
			text-decoration: none;
		}

		body.section-projects .project p{
			margin: 5px 0 0;
			line-height: 1.2;
			vertical-align: middle;
		}

		body.section-projects .project .metadata{
			height: 30px;
			line-height: 30px;
		}
			body.section-projects .project .project-type{
				float: right;
				border-radius: 5px;
				background-color: #800000;
				padding: 0 8px;
			}



/************************************************
 * Elements
 * *********************************************/
.button{
	display: inline-block;
	border: 1px solid;
	border-radius: 10px;
	margin: 2px;
	background: linear-gradient(#45484d, #111111);
	padding: 8px 20px;
	color: #FFFFFF !important;
	text-decoration: none !important;
}
	.button:hover{
		background: #111111;
	}

.pager{
	margin: 5px 5% 60px;
	border-top: 1px dotted #DDDDDD;
	padding: 5px;
	height: 60px;
}
	.pager a{
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}
		.pager a:hover{
			text-decoration: underline;
		}

		.pager a.newer{
			float: left;
		}

		.pager a.older{
			float: right;
		}



/************************************************
 * Generic Classes
 * *********************************************/
.alignleft{
	float: left;
	margin-right: 1.5rem;
}

.aligncenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}

.alignright{
	float: right;
	margin-left: 1.5rem;
}
