/* Rules without a media query present take affect when the webpage is 1,100px or
less. */


main{
	margin: 0 9%;
}


/************************************************
 * <= 900px width
 * *********************************************/
@media(max-width: 900px){

	main{
		margin: 0 5%
	}

	body > header div.social-icons{
		display: none;
	}

	body > header a.toggle{
		display: block;
	}

	body > header ul{
		display: none;
		position: absolute;
		top: 85px; right: 0; bottom: 0; left: 0;
		background-color: #1C1C1C;
		width: 100%;
		height: 100%;
		text-align: center;
		z-index: 100;
	}
		body > header li{
			float: none;
		}

		body > header li.social-icons{
			display: list-item;
		}

	body.section-projects .project .content{
		padding: 5px 10px;
	}
}


/************************************************
 * <= 700px width
 * *********************************************/
@media(max-width: 700px){

	main{
		margin: 0 2%;
	}

	body.home #homepage-title{
		font-size: 4.0rem;
	}

	body.section-projects .project{
		display: block;
		position: static;
	}
		body.section-projects .project img{
			display: block;
			width: 100%;
		}

		body.section-projects .project .content{
			position: static;
			padding: 10px 20px;
			width: 100%;
		}
}


/************************************************
 * <= 400px width
 * *********************************************/
@media(max-width: 400px){

	main{
		margin: 0;
	}

	body > header .site-title{
		font-size: 1.6rem;
	}

	main{
		padding-top: 15px;
	}

	body.home #homepage-title{
		font-size: 3.0rem;
	}
}
