<a href="https://twitter.com/FelicianoTech" title="Follow me on Twitter."><i class="fa fa-twitter"></i></a>
<a href="https://github.com/FelicianoTech" title="Check out my contributions on GitHub."><i class="fa fa-github"></i></a>
<a href="https://www.facebook.com/FelicianoTech" title="Like me on Facebook."><i class="fa fa-facebook"></i></a>
<a href="https://plus.google.com/110714866258170589829" title="Visit my Google+ profile."><i class="fa fa-google-plus"></i></a>
<a href="https://www.instagram.com/FelicianoTech/" title="Visit my Instagram profile."><i class="fa fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/ricardofeliciano" title="Visit my LinkedIn profile." data-proofer-ignore><i class="fa fa-linkedin"></i></a>
