<a href="https://twitter.com/FelicianoTech" title="Visit my profile."><i class="fa fa-twitter"></i></a>
<a href="https://github.com/FelicianoTech" title="Visit my profile."><i class="fa fa-github"></i></a>
<a href="https://www.linkedin.com/in/ricardofeliciano" title="Visit my profile." data-proofer-ignore><i class="fa fa-linkedin"></i></a>
<a href="https://plus.google.com/110714866258170589829" title="Visit my profile."><i class="fa fa-google-plus"></i></a>
<a href="https://www.instagram.com/FelicianoTech/" title="Visit my profile."><i class="fa fa-instagram"></i></a>
