<div class="share-buttons">
	<div class="share-down">Share<br /><span class="fas fa-chevron-down"></span></div>
	<div class="share-right">Share <span class="fas fa-chevron-right"></span></div>
	<a class="hacker-news" href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" title="Share on Hacker News" target="_blank">
		<span class="fab fa-hacker-news"></span>
	</a>
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&display=popup" title="Share on Facebook" target="_blank">
		<span class="fab fa-facebook-f"></span>
	</a>
	<a class="reddit" href="http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" title="Share on Reddit" target="_blank">
		<span class="fab fa-reddit-alien"></span>
	</a>
	<a class="linkedin" href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}&mini=true&source=FelicianoTech" title="Share on LinkedIn" target="_blank">
		<span class="fab fa-linkedin"></span>
	</a>
</div>
